<?xml version="1.0"?>
<launch>
<!--
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />
    <include file="$(find realsense2_camera)/launch/rs_t265.launch" />
	<arg name="unite_imu_method" value="copy" />
    </include>
-->

    <node name="wheel_odometer" pkg="vehicle_control" type="wheel_odometry"/>

    <include file="$(find dualarm_mobile_bringup)/launch/rs_t265.launch">
        <arg name="unite_imu_method" value="copy" />
    </include>
    
</launch>
